[submodule "lib/doctest/doctest"]
	path = lib/doctest/doctest
	url = https://github.com/ESP-Tracking-port/doctest
[submodule "lib/espdsp/espdsp"]
	path = lib/espdsp/espdsp
	url = https://github.com/ESP-Tracking-port/esp-dsp.git
[submodule "lib/fpm/fpm"]
	path = lib/fpm/fpm
	url = https://github.com/ESP-Tracking-port/fpm.git
